.social-icons {
    display: flex;
    gap: 10px;
    margin: 10px;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #111111;
    border-radius: 50%;
    text-decoration: none;
    transition: background 0.3s, transform 0.3s ease-in-out;
}

.icon svg {
    color: white;
    font-size: 15px;
}

.icon:hover {
    background-color: #555;
    transform: scale(1.1);
}

.container {
    text-align: center;
    padding: 20px;
}